/* Hide application before the the app has initialized */
#app.loading {
    display: none;
}

/* Make logo text pretty */
.logo-text a {
    color: white !important;
    text-decoration: none;
}


.actions-column {
    min-width: 150px;
}

.full-width {
    width: 100%;
}


.image-column {
    max-width: 150px;
}

.check-column {
    width: 70px;
    text-align: center;
}


.complete-center {
    display: flex;
    justify-content: center;
    align-items: center;
}