/* Hide application before the the app has initialized */
#app.loading {
    display: none;
}

/* Make logo text pretty */
.logo-text a {
    color: white !important;
    text-decoration: none;
}


.actions-column {
    min-width: 150px;
}

.full-width {
    width: 100%;
}