/* Hide application before the the app has initialized */
#app.loading {
    display: none;
}

/* Make logo text pretty */
.logo-text a {
    color: white !important;
    text-decoration: none;
}


.center {
    text-align: center;
}

.block {
    display: block !important;
}

.actions-column {
    min-width: 150px;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.image-column {
    max-width: 150px;
}

.check-column {
    width: 70px;
    text-align: center;
}


.complete-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.http-status-code {
    font-size: 150px;
    color: #e1e1e1;
    font-weight: bold;
}